{% extends "base.html" %}
{% block content %}

<form action="/pets" method="post">

  <div>
    <label for="Pet name">Pet name:</label>
    <input type="text" id="Pet name" name="Pet name" placeholder="Pet name" required autofocus>
  </div>

  <div>
    <label for="Date of Birth">Date of Birth:</label>
    <input type="text" id="Date of Birth" name="Date of Birth" placeholder="Date of Birth" required autofocus>
  </div>

  <div>
    <label for="Pet type">Pet type:</label>
    <input type="text" id="Pet type" name="Pet type" placeholder="Pet type" required>
  </div>

  <div>
    <label for="Owner name">Owner name:</label>
    <input type="text" id="Owner name" name="Owner name" placeholder="Owner name" required>
  </div>

  <div>
    <label for="Treatment">Treatment:</label>
    <input type="text" id="Treatment" name="Treatment" placeholder="Treatment" required>
  </div>
  
  <div>
    <label for="vet">Vet:</label>
    <select id="vet" name="vet_id">
      {% for vet in vets %}
        <option value="{{ vet.id }}">{{ vet.name() }}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Add Pet</button>

</form>

{% endblock %}