body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    background-color:rgb(197, 221, 211)}


.pet {
    border: 1px solid #8fdcc7;
    width: 300px;
    min-height: 68px;
    padding: 10px;
    display: flex;
    line-height: 18px;
    margin-bottom: 10px;}


.trash-button{
    display: contents;
    font-size: 65%;}


.delete-form{
    display: inline;}
    
.menu{
    display: flex;
    padding: 10px;
    background-color: rgb(47, 93, 80);
    color: white;}
    
.menu li a{
    text-decoration: none;}
    
.menu li a:visited{
    color: white;}
    
.menu li{
    padding-right: 10px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; font-size: 14px;}
    
.container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;}
    
#home-image {
    width:100vw;
    height:100vh;
    background-image: url('https://www.keysvillemobilevet.com/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;}
                



/* .Pet name {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}
    
.date_of_birth{
    color: #2c3e5a;
    font-size: 13px;
    margin-left: 20px;
}
    
.Pet type {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    color: #aab8c2;
}
    
.owner_name i {
    width: 80px;
}
    
.treatment_notes {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
} */
