
body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    background-color:rgb(197, 221, 211);
    background-image: #8fdcc7;
    background-image: url("/static/image/Web_Photo_Editor.jpg");
    background-repeat: roundrepeat;
    background-size: cover;

}

.pet {
    border: none;
    width: 300px;
    min-height: 20px;
    line-height: 20px;
    margin-bottom: 40px;
        
}


.trash-button{
    display: contents;
    font-size: 65%;}


.delete-form{
    display: inline;}
    
.menu{
    display: flex;
    justify-content: start;
    padding: 23px;
    background-color: rgb(47, 93, 80);
    color: white;
    
}
    
.menu li a{
    background-color: white;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 17px;
    color: rgb(47, 93, 80);;
    text-decoration: none;}
    
.menu li a:visited{
    background-color: rgb(197, 221, 211);
    color: rgb(47, 93, 80);;}
    
.menu li{
    padding-right: 10px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; font-size: 14px;}
    
.container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
    border: none;
}


.content{
    background-color: rgb(47, 93, 80);
    border: none;
    border-radius: 5px;
    padding: 20px;
    color: white;
    
}

.edit{
    background-color: rgb(47, 93, 80);
    border: none;
    border-radius: 5px;
    padding: 30px;
    color: white;
}


.new_pet_form{
    border: none;
    border-radius: 20px;
    background-color: rgb(47, 93, 80);
    color: rgb(197, 221, 211);

    

}
    
.new_pet_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px;

}

/* #home-image {
    width:95vw;
    height:100vh;
    background-image: url('https://www.keysvillemobilevet.com/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;} */
                

.input{
    background-color: rgb(132, 169, 165);
    border: none;
    border-radius: 3px;
    padding-inline: 1px;
}

.edit{
    border: none;
    border-radius: 20px;
    background-color: rgb(47, 93, 80);
    color: rgb(197, 221, 211);
}

#vet {
    background-color: rgb(132, 169, 165);
    border: none;
    border-radius: 3px;
}

#add_pet_button {
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(47, 120, 100);
    color:white;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pet_birth{
    padding-top: 20px;
}


#pet_name_index_html{
    color: white;
    font-size: 20px

}
